/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Logs]/
/[MemoryCaptures]/

# Assets generados por el sistema
[Rr]eport.[Ll]og
.plastic/

# Archivos de proyectos de Visual Studio / Rider
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de SO
.DS_Store
Thumbs.db