# Carpetas principales de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# Visual Studio (Lo que aparece en rojo en tu imagen)
.vs/
.slythespire.slnx/

# Archivos de solución y temporales
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Assets y Logs del sistema
[Rr]eport.[Ll]og
*.log
.plastic/

# Archivos de SO
.DS_Store
Thumbs.db